.nycsurf {
  text-align: left;
  padding: 2em;
  height: 100%;
}

.nycsurf-header { }

.nycsurf-title {
  font-size: 4em;
}

.nycsurf-main {
  h2 {
    font-size: 2em;
  }
}

.nycsurf-aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 10em;

  &--alt {
    width: auto;
    left: auto;
    right: 0;
  }
}
